# Hugo build output
/public/
/resources/
/static/uploads/

# Hugo temporary files
/.hugo_build.lock

# OS-specific files
**/.DS_Store
Thumbs.db

# Node.js dependencies (if using npm or yarn)
node_modules/

# Log files
*.log

# Backup files
*.bak
*.swp
*.swo
*.tmp

# IDE-specific files
.vscode/
.idea/
